<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中药饮片_商品详情</title>
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <div class="top_box">
        <a href="/medicine/homepage" style="margin-left: 60px">返回首页</a>
    </div>
    <div>暂时还没有此商品哦</div>

    <div class="bottom_box">
        <div class="bottom_font">
            <a href="">友情链接：</a>
            <a href="https://www.baidu.com/">百度</a>
            <a href="https://www.taobao.com/">淘宝网</a>
            <a href="http://www.huas.cn/wzsy.htm">湖南文理学院官网</a>
        </div>
        <div class="bottom_font">
            <span>地址：湖南省常德市武陵区滨湖路3150号</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系方式：182****8916</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他：图片来源于网络 请勿转载</span>
        </div>
        <div class="bottom_font">
            <span>
                Copyright&copy;2019 - 2020 湖南文理学院数理学院.All Right Reserved
            </span>
        </div>
    </div>


</body>
</html>