<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="shortcut icon" href="../static/img/logo01.jpg" type="imsge/x-icon">
</head>
<body>
<div>
    <div class="top_box">
        <a href="">首页</a>
        <a href="">登录</a>
        <a href="">注册</a>
        <a href="">购物车</a>
    </div>
    <div class="body_box">
        <div class="login_box">
            <a href="" class="login_font">
                <p>账号登录</p>
            </a>
            <input type="text" placeholder="请输入你的用户名"><br>
            <input type="text" placeholder="请输入你的密码"><br>
            <input type="button" value="登录" style="color: white;background: #158e2f;width: 353px;height: 47px;"><br>
            <a href="" class="login_font_litter">没有账号？立即注册</a>
        </div>
        <img src="../static/img/本草纲目素材.jpg" alt="" style="float: left" class="img_font">
        <img src="../static/img/李时珍素材.png" alt="" class="img_lee">

    </div>
    <div class="top_box">
        <div>友情链接：</div>
        <div>
            <span>地址：</span>
            <span>联系方式：</span>
        </div>
        <div>
            <span class="font">
                Copyright&copy;2005 - 2019 湖南文理学院数理学院.All Right Reserved
            </span>
        </div>
    </div>
</div>


</body>
</html>