<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中药饮片_相关新闻</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/homepage.css">
</head>
<body>

    <div class="top_box">
        <a href="/medicine/homepage" style="margin-left: 60px">&lt;&lt;&lt;返回首页</a>
    </div>

    <div class="news_box">
        <br>
        <p style="margin-left: 380px;font-size: 30px;">打赢疫情防控阻击战丨学者聚焦系列文章</p>
        <p style="margin-left: 300px;font-size: 30px;">【战“疫”说理】抗击疫情彰显中国共产党的领导力</p>
        <div class="article_content">
            <br><br>
            <img src="../static/img/共战疫情.jpg" alt=""><br><br><br>

            <span>“沧海横流，方显英雄本色。”这次新冠肺炎疫情，是一场重大的突发公共卫生事件，
                是新中国成立以来我国发生的传播速度最快、感染范围最广、防控难度最大的一次疫情。
                中国共产党统筹国际国内两个大局，调动党内党外的力量，打响了一场疫情防控的人民战争、总体战、阻击战。
                党的领导力在这一过程中得到了充分证明和极大锻炼。</span><br><br>
            <span>举旗定向，统筹安排，彰显中国共产党的前瞻力与规划力</span><br><br>
            <span>前瞻力与规划力是对事物发展趋势作出正确推测和决断，制定科学目标和战略的能力。
                新冠肺炎病毒潜伏期长，传播面广，一旦大面积流行蔓延，就会带来巨大的危害。面对疫情，
                党中央高度重视，从全局出发进行顶层设计，
                根据疫情的发展状况随时调整防控工作重心和工作重点，显示了出色的前瞻和规划能力。</span><br><br>
            <span>在疫情发生之初，党中央把严防严控作为头等大事来抓，及时制定了疫情防控战略策略。
                强调坚持全国一盘棋，加强对疫情防控工作的统一领导、统一指挥、统一行动。
                其中，把湖北和武汉作为全国主战场，要求采取更加严格、更有针对性、更加管用有效的措施，
                坚决把疫情扩散势头遏制住。对其他省份要加强分类指导，步步推进、层层深入，外防输入、内防扩散，
                形成了全面动员、全面部署、全面加强防控的战略格局。布局迅速，措施得当，疫情得到了较好的控制。</span><br><br>
            <span>在疫情防控取得阶段性成效后，党中央及时把恢复和发展生产提上日程，强调要夺取疫情防控和经济社会发展双胜利。
                在党中央的部署下，各地政府精准施策，有序恢复和发展生产，努力把疫情造成的损失降到最低。
                党中央也积极出台相关政策，加大宏观政策调节力度，把我国发展的巨大潜能和强大动能激发出来。
                复工复产取得重要进展，经济社会运行秩序加快恢复。</span><br><br>
            <span>现阶段，面对国外疫情局势，党中央再次调整部署，确定了“外防输入、内防反弹”的策略。
                继续抓好国内疫情防控工作，绝不松懈，堵住所有可能导致疫情反弹的漏洞。同时，加强陆海口岸疫情防控，
                科学有效应对境外疫情输入，完善从境外到国门、从国门到家门的全链条防控策略，最大限度减少境外输入关联本地病例。
                这些决策巩固了国内疫情防控的成效，也为社会生活的正常发展提供了可靠保障。</span><br><br>
            <span>狠抓落实，高效传导，彰显中国共产党的组织力和执行力</span><br><br>
            <span>组织力和执行力是战略实施能力，指实现和落实战略目标的能力。它的强弱直接决定着战略目标的实现程度及实现速度。
                没有强大的组织力和执行力，再完善再科学的决策方案，也只能是水中花镜中月，无法转化为现实。
                与疫情斗争要争分夺秒，任何犹豫、拖延都极有可能带来严重后果。所以，组织和执行力显得尤为重要。</span><br><br>
            <span>为了切断疫情扩散的途径，党中央果断要求湖北省对人员外流实施全面严格控制。
                根据党中央指示，武汉全市公交、地铁、轮渡、长途客车停止运营，机场、火车站离汉通道关闭，
                没有特殊原因市民不能离开武汉。同时，北京、上海、广东等各省市纷纷调整疫情防控等级，外防输入，内防扩散，全民动员，
                建立起了联防联控的防控体系。为了帮助湖北渡过难关，中央组织了19个省对口支援湖北省除武汉市外的16个市州及县级市，
                全国重点医疗物资和生活保障物资源源不断地涌向抗疫一线。</span><br><br>
            <span>全国同心同德抗击疫情，中国人民一次次用“中国速度”引发国际社会的感叹。
                中国集中人力物力，用10天时间建成1000张床位的火神山医院，用15天时间建成1600张床位的雷神山医院；
                以平均一天半一座的速度建成16家方舱医院，提供13000余张病床。正是由于中国共产党强大的组织力和执行力，
                实现了举全国之力对湖北的支援，才有效遏制了疫情的发展。</span><br><br>
            <span>从严治党，夯实堡垒，彰显中国共产党的影响力和凝聚力</span><br><br>
            <span>影响力和凝聚力包括权力性的和非权力性的，权力可以产生影响力和凝聚力，但不能保持持久，也未必真正让人信服。
                只有建立在人格品质、思想品质和价值体系之上的影响力和凝聚力，才能根植于人们心中，对人们产生持续的力量。</span><br><br>
            <span>这次疫情是一次大考，是对各级党组织和党员、干部的重大考验。
                各级党组织发挥了战斗堡垒作用，认真履行领导责任，落实党的各项决策部署，广泛动员群众、组织群众，筑牢群防群控防线。
                广大党员、干部以身作则，勇挑重任，承担各种艰难险重任务，成为一种无形的榜样力量。但是，也存在一些薄弱环节。
                对此，习近平总书记特别强调，“对不服从统一指挥和调度、本位主义严重的，对不敢担当、作风飘浮、推诿扯皮的，
                除追究直接责任人的责任外，情节严重的还要对党政主要领导进行问责”。做好疫情防控工作，
                直接关系人民生命安全和身体健康，直接关系经济社会大局稳定，各级党组织和党员要在大考中交出合格答卷，
                进一步彰显中国共产党的影响力和凝聚力。</span><br><br>
            <span>党要管党、从严治党，保持党的先进性和纯洁性，是中国共产党的优良传统和宝贵经验。
                党能否管住管好自己，不仅关系党的前途命运，而且关系国家和民族的前途命运。
                习近平总书记在党的十九大报告中指出：“领导十三亿多人的社会主义大国，我们党既要政治过硬，也要本领高强。
                ”党要管党、从严治党，一是具有直面问题、刀刃向内的政治勇气，用严明的纪律管党治党；
                二是适应新时代党建要求，全面增强执政本领，努力提高党的执政水平和领导水平。
                党的各项能力在疫情防控中得到了有效的锻炼，执政能力得到进一步提升。</span><br><br>
            <span>当前，中国共产党的执政环境是复杂的，执政任务是艰巨的。坚持党要管党、从严治党，
                才能使党得到人民群众的衷心拥护，保持自己的影响力和凝聚力，才能经得起风浪考验，始终走在时代前列。</span><br><br>
            <span>（作者系北京联合大学马克思主义学院副教授）</span><br>
        </div>
    </div>

    <div class="bottom_box">
        <div class="bottom_font">
            <a href="">友情链接：</a>
            <a href="https://www.baidu.com/">百度</a>
            <a href="https://www.taobao.com/">淘宝网</a>
            <a href="http://www.huas.cn/wzsy.htm">湖南文理学院官网</a>
        </div>
        <div class="bottom_font">
            <span>地址：湖南省常德市武陵区滨湖路3150号&nbsp;&nbsp;&nbsp;</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;联系方式：182****8916</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他：图片来源于网络 请勿转载</span>
        </div>
        <div class="bottom_font">
            <span>
                Copyright&copy;2019 - 2020 湖南文理学院电信16102班熊思佳.All Right Reserved
            </span>
        </div>
    </div>

</body>
</html>